body{
    text-align: center;
    background-color: aquamarine;
}

#img1{
    width: 300px;
    height: 300px;
}



h3{
    font-size: 25px;
}

#img2{
    width: 300px;
    height: 300px;
}

h4{
    font-size: 25px;
}

#img3{
    width: 300px;
    height: 300px;
}

h5{
    font-size: 25px;
}

#img4{
    width: 300px;
    height: 300px;
}

h6{
    font-size: 25px;
}